/*! style-forge.patterns v1.1.1 | MIT License | github.com/sarmaged/style-forge.patterns */

[pattern] > [aside] { grid-area: aside }
[pattern] > [footer] { grid-area: footer }
[pattern] > [header] { grid-area: header }
[pattern] > [main] { grid-area: main }
[pattern] > [menu] { grid-area: menu }
[pattern] {
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
[pattern][menu] {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
}
[pattern][aside] {
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
[pattern][menu][aside] {
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "menu main aside"
    "footer footer footer";
}
@media (max-width: 768px) {
  [pattern][menu][aside] {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "menu"
      "main"
      "aside"
      "footer";
  }
}
[pattern][media] {
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". main";
}
[pattern][media] [pattern][media] {
  grid-template-columns: 32px 1fr;
}
