[pattern] {
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

[pattern][menu] {
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
}
[pattern][aside] {
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
[pattern][menu][aside] {
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "menu main aside"
    "footer footer footer";
}

@media (max-width: 768px) {
  [pattern][menu][aside] {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "menu"
      "main"
      "aside"
      "footer";
  }
}
